<script src="{{ url_for('static', filename='js/graph/d3/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/events/keys.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/events/mouse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/events/timers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/timeaxis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/timecursor.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/yaxis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/yrange.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/path.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/dots.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/steps.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/area.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/bgstamp.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/lastbg.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/mealtable.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/meals.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/bolus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/cumcals.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/chart/tempbar.js') }}"></script>
  <!--
      <script src="{{ url_for('static', filename='js/graph/data/data.js') }}"></script>
  -->
  <script src="https://lucid-montalcini-fd6cd7.netlify.app/js/data/data.js"></script>
  <script src="{{ url_for('static', filename='js/graph/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/plot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph/fields.js') }}"></script>