<div class="disable-select graph">
  <div id="chart" class="activated">
    <div class="verticalSplit bottom">
      <div class="flex container">
          <div class="BG-stamp"></div>
          <div class="last-BG-box"></div>
          <div class="cumCals-box"></div>
      </div>
    </div>
      <div class="verticalSplit lower">
          <div class="lowerChart">
            <div id="data-timestamp">Loading ...</div>
              <div class="BG-graph">
                  <div id="BG-today">
                      <div id="drift-change-tooltip"></div>
                  </div>
              </div>
              <div class="basal-graph">
                  <div id="basal-today"></div>
              </div>
              <div class="food-insulin-graph">
                  <div id="food-insulin-today"></div>
                  <div id="reset-view">&#8635;</div>
              </div>
              <div class="day-title"><div class="day-title text">today</div></div>
          </div>
      </div>
  </div>
  <div class="popup" id="stats-popup">
      <div class="popup-header" id="stats-header">
          <div class="popup-header title" id="stats-title">
              <div id="stats-text">Average BG</div>
              <div id="stats-value">5.2</div>
          </div>
          <button class="popup-header close-button">&times;</button>
      </div>
      <div class="popup-body" id="stats-histogram"></div>
      <div class="popup-body" id="stats-body"></div>
  </div>
  <div class="popup" id="cals-popup">
      <div class="popup-header" id="cals-header">
          <div class="popup-header title" id="cals-title">
              <div id="cals-text">Cals</div>
              <div id="cals-value">0000</div>
          </div>
          <button class="popup-header close-button">&times;</button>
      </div>
      <div class="popup-body" id="cals-body"></div>
  </div>
  <div class="popup" id="meal-popup">
      <div class="popup-header">
          <div class="popup-header title" id="meal-title">
              <div id="carbs-text">Meals</div>
              <div id="carbs-value">000</div>
          </div>
          <button class="popup-header close-button">&times;</button>
      </div>
      <div class="popup-body" id="meal-body"></div>
  </div>
</div>
<div id="overlay"></div>
