/* Setup */
:root {
  --black: #000000;
  --almost-black: #262626;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0B0B0;
  --grey-medium: #909090;
  --grey-dark: #505050;
  --primary: #12548d;
  --logo-red: #801020;
  --primary-red: #ce7684;
  --primary-dark: #092e4e;
  --secondary: #8090A0;
  --secondary-dark: #405060;
  --red: #EF4836;
}

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  width: 100%;
  background-color: var(--almost-black);
  overflow: hidden;
}


/* Typography */
.center {
  text-align: center;
}

.tool-header {
  font-size: 22px;
  line-height: 1.2;
  color: var(--grey-medium);
  font-weight: bold;
  font-variant: small-caps;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo {
  display: flex;
}

.dia, .cast, .tool-h1, .tool-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 3px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
}

.dia, .tool-h1 {
  background-color: var(--primary);
  color: var(--almost-white);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cast, .tool-h2 {
  background-color: var(--almost-white);
  color: var(--primary);
  box-shadow: 0 0 10px var(--black);
}

.tool-h1, .tool-h2 {
  font-size: 16px;
  width: 25px;
  height: 25px;
  margin: 1px;
  box-shadow: none;
}

.logo-space {
  width: 10px;
}

h1 {
  margin: 0.5em 0 0.5em;
  font-size: 24px;
  line-height: 1.2;
  color: var(--grey-medium);
}

h2 {
  margin: 0.5em 0 0.5em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--almost-black);
}

p {
  margin: 24px 0;
}

/* Functionality */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Currently supported by Chrome, Edge, Opera and Firefox */
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--almost-white);
  border: none;
  box-shadow: 0 0 10px var(--almost-black);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--primary);
  transition: color .15s ease, background-color .15s ease;
}

/* Fix autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--grey-medium) inset !important;
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

.vertical-drag-container {
  z-index: 200;
  position: fixed;
  height: 80px;
  width: fit-content;
  left: 50%;
  bottom: 5px;
  border-radius: 40px;
  transform: translate(-50%);
}

.vertical-drag-container.dragging {
  height: 240px;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(100% - 80px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 11px;
  font-size: 60px;
  font-weight: 600;
  text-decoration: none;
  color: var(--almost-white);
  box-shadow: 0 0 10px var(--almost-black);
  cursor: pointer;
  background: var(--primary);
  transition: background-color 0.2s ease;
}

#rect1, #rect2 {
  position: absolute;
  background-color: var(--almost-white);
  width: 60%;
  height: 10px;
  border-radius: 5px;
}

#rect2 {
  transform: rotate(90deg);
}

.activated #rect2 {
  transform: rotate(0);
}

.activated .btn-plus {
  background: var(--primary-red);
}

.activated .plus-symbol {
  display: none;
}

.minus-symbol {
  display: none;
}

.activated .minus-symbol {
  display: block;
}

/* Menus */
.top-navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--grey-dark);
}

.empty-left-container {
  width: 35px;
}

.dropdown-menu {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--almost-black);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-content {
  margin-top: 10px;
  position: absolute;
  display: none;
  min-width: 250px;
  height: auto;
  right: 0;
  color: var(--grey-light);
  background: var(--almost-black);
  z-index: 300;
}

.open .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: var(--almost-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid var(--grey-medium);
}

.dropdown-content a:hover {
  background-color: var(--grey-dark);
}

/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 50;
  display: none;
}

#overlay.active {
  display: block;
}

/* Bottom toolbar */

.bottom-bar {
  z-index: 100;
  height: 75px;
  width: 100%;
  background-color: var(--grey-dark);
}

:root {
  --tool-bottom: 3px;
  --tool-dims: 65px;
}

.tool {
  position: fixed;
  bottom: var(--tool-bottom);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--tool-dims);
  height: var(--tool-dims);
  font-size: 35px;
  transform: translate(-50%);
  transition: left 0.4s ease-in-out;
  z-index: 150;
  border-radius: 50%;
  bottom: 5px;
}

.blood {
  background-color: rgba(255, 0, 0, 0.8);
}

.pump-svg-position {
  left: 3px;
  bottom: 2px;
}

.insulin {
  background-color: lightblue;
}

.meal-svg-position {
  bottom: 1px;
}

.meal {
  background-color: sandybrown;
}

.note {
  background-color: var(--grey-light);
}

.selected {
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.activated .blood {
  left: 10%;
}

.activated .insulin {
  left: 29%;
}

.activated .meal {
  left: 71%;
}

.activated .note {
  left: 90%;
}

.vline {
  fill: none;
  stroke: rgba(255, 46, 46, 0.8);
  stroke-width: 3;
}

/* Input Panel */
.input-panel {
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--almost-black);
  z-index: 90;
  transition: 3s ease-in-out;
  overflow: hidden;
}

.input-body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-panel.activated {
  display: flex;
  flex-direction: column;
}

.BG-value {
  padding: 30px;
  font-size: 120px;
  color: var(--almost-white);
}
input[inputmode="numeric"] {
  font-size: 4em;
  text-align: center;
  color: var(--almost-white);
  background-color: transparent;
}

.flex-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex-item > div {
  margin: 10px;
}

.BG-meter, .bolus-meter {
  height: calc(100%);
  background-color: rgba(200, 200, 255, 0.2);
}

.axisWhite path, line {
  stroke: var(--almost-white);
  stroke-width: 1.5px;
}

.axisWhite.minor path, line {
  stroke-width: 0.9px;
}

.axisWhite.extra path, line {
  stroke-width: 0.5px;
}

.axisWhite text {
  fill: var(--almost-white);
  font: 30px sans-serif;  
  text-anchor: center; 
}

.zoom-out-bgmeter {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: var(--primary);
  color: var(--almost-white);
  font-size: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-body {
  flex: 1;
}
