{% extends "base.html" %}

{% block content %}

  <div class="card-wrapper">

    <div class="card">

      <h2 class="center">Log In</h2>

      <form name="login_form">

        <label for="email">E-mail</label>
        <input type="email" name="email" id="darker-field" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <div class="center"> 
          <input type="submit" value="Log In" class="btn">
          or<br>
          <a href="/signup">Create an Account</a>
        </div>

      </form>

    </div>

  </div>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>

{% endblock %}
