{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph/styles.css') }}">
{% endblock header %}

{% block content %}

    {% include "graph/graph.html" %}

    <div class="btn-plus">
        <div class="plus-symbol">
            &#65291;
        </div>
        <div class="minus-symbol">
            &#65293;
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plusbtn.js') }}"></script>
{% endblock scripts %}