{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph/styles.css') }}">
{% endblock header %}

{% block middleBody %}

    {% include "graph/graph.html" %}
    <!-- Input Panel -->
    <div class="input-panel">
        <div>
            <h1 class='center'>Enter BG</h1>
        </div>
        <div class="input-body"></div>
    </div>

{% endblock middleBody %}

{% block bottom %}

    {% include "bottombar.html" %}
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plusbtn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/input-panels/meter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/input-panels/selectTool.js') }}"></script>
    <script src="{{ url_for('static', filename='js/input-panels/submitVals.js') }}"></script>
    {% include "graph/graphScripts.html" %}
{% endblock scripts %}