.timeStamp, .last-BG-box, .BG-stamp, .cumCals-box {
    text-align: center;
    width: fit-content;
    width: -moz-fit-content;
}
.last-BG-box, .BG-stamp, .cumCals-box {
    flex: 5;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
}
.last-BG-box { flex: 9; }
.BG-stamp {
    background: rgb(173, 216, 230);
}
.last-BG-box {
    font-size: 12pt;
    background: gray;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.cumCals-box {
    background: lightcoral;
}
.timeStamp {
    position: absolute;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: lightgray;
    padding: 3px;
    pointer-events: none;
}

.mini-header {
    font-size: 9pt;
    font-style: italic;
    height: 30%;
}
.info {
    flex: 1;
}
#cals-info {
    font-size: 22pt;
}
#lastBG-info {
    font-size: 13pt;
}
#BG-info {
    font-size: 26pt;
    font-weight: bold;
}